<div class="container">
  <h1>Big Things In Small Packages</h1>
  <form method="POST" action="/links">
    <input type="text" name="longUrl" placeholder="Enter URL Aqui" id="urlName" class="long">
    <input type="submit" class="btn btn-primary" value="GO">
  </form>
</div>
